<table class="table table-striped">

	<tr>
		<th>State</th>
		<th>City</th>
		<th>Property Location</th>
		<th>Square Feet</th>
		<th><%= "#{Time.now.year - 1} Taxes"%></th>		
		<th>Net Taxable Value</th>
		<th>Tag</th>
	</tr>

	<% @post.assessments.each do |property| %>
	<tr>
		<td><%=property.county_name%></td>
		<td><%=property.city_name%></td>
		<td><%=property.property_location%></td>
		<td><%=property.square_feet%></td>
		<td>$<%=property.taxes_one.to_i%></td>		
		<td>$<%=property.assessed.to_i%></td>
		<td>
				<%= link_to raw('<i class="icon-star-empty"></i>'), add_favorite_path(property.id), id: "new_favorite_#{property.id}", remote: true %>
		</td>
	</tr>

	<% end %> 

 	
</table>