<div id="container">
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner">
	    <%= link_to "HomeCanvasr", root_path, class: "brand" %>
	    <div class = "pull-right">	
	    	<% if user_signed_in? %>
	      	<div class="btn-group">
	  				<a class="btn dropdown-toggle  btn-inverse" data-toggle="dropdown" href="#">
	    			<%= current_user.email %>
	    			<span class="caret"></span>
	  				</a>
	  				<% if current_user.role == 1 %>
	  					<%= render "layouts/agent_links" %>
	  				<% elsif current_user.role == 2 %>
	  					<%= render "layouts/buyer_links" %>
	  				<% elsif current_user.role == 3 %>
	  					<%= render "layouts/homeowner_links" %>
	  				<% end %>
					</div>    	
	    	<% else %>
	    	<a class="btn btn-inverse" href="/users/sign_in">Login</a>
	    	<% end %>
	   	</div>
	  </div>
	</div>
  
</div>